<div class="container-fluid hero background-image">
	<div>
		<%=image_tag("key.png")%>	
	</div>
	<h1>secrets, secrets are no fun, unless they're fun for everyone!</h1>
	<a href="/sessions/new"><button type="button" class="btn btn-default">Login</button></a>
	<a href="/users/new"><button type="button" class="btn btn-default">Register</button></a>
</div>