// Place all the styles related to the Secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*secrets index page*/

footer p {
	text-align: left;
	line-height: 44px;
	margin-bottom: 0;
}

footer button {
	margin-right: 2%;
}

.secrets {
  text-align: center;
  margin: auto;
} .secrets h1 {
	font-size: 55px;
	color: #ffeb3b;
} .secrets h3 {
	margin-bottom: 5%;
	margin-left: 25%;
} .secrets h4 {
	text-align: left;
}

nav li a {
	color: yellow;
}

.girl {
	vertical-align: top;
}

.likes_length {
	font-weight: bold;
}

.text-left {
	font-size: 16px;
	margin: 3% auto 3% auto;
	font-style: italic;
}

.delete {
	display: block;
}

body {
	background-color: #A9A9A9;
	height: 100%;
}

.no_secrets h3 {
	margin: auto;
}